
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
h2{
    background-color: black;
    width: 100%;
    color: white;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 20px;

}
.div1{
    position: absolute;
    top: 0;   
      
}
.div2{
    position: absolute;
    top: 0;
}

.div2 img{
    width: 500px;
    height: 400px;
    position: absolute;
    border-radius: 10px;
    top: 100px;
}
.div3{
    position: absolute;
    top: 200px;
    left: 600px;

}
p{
    font-size: xx-large;
}